<div>
  <form nz-form [formGroup]="courseForm">
    <nz-form-item>
      <nz-form-control style="width: 100%">
        <nz-input-group>
          <input type="text" nz-input formControlName="name" placeholder="请输入课程名称">
        </nz-input-group>
        <nz-form-explain *ngIf="courseForm.get('name').dirty && courseForm.get('name').errors">请输入课程名称</nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <div class="upload-meta-data" style="margin-top: 20px; background: white; width: 100%">
      <div class="upload-picture">
        <nz-upload
          nzAction="https://jsonplaceholder.typicode.com/posts/"
          nzListType="picture-card"
          [(nzFileList)]="fileList"
          [nzShowButton]="fileList.length < 3"
          [nzPreview]="handlePreview">
          <i class="anticon anticon-plus"></i>
          <div class="upload-text">Upload</div>
        </nz-upload>
        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
                  (nzOnCancel)="previewVisible=false">
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }"/>
          </ng-template>
        </nz-modal>
      </div>
    </div>

    <nz-form-item>
      <nz-form-control style="width: 100%">
        <nz-input-group>
          <input type="number" nz-input formControlName="price" placeholder="请输入课程价格">
        </nz-input-group>
        <nz-form-explain *ngIf="courseForm.get('price').dirty && courseForm.get('price').errors">请输入课程价格</nz-form-explain>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-control style="width: 100%">
        <nz-input-group>
          <nz-select formControlName="type" style="width: 100%" [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="选择课程类别">
            <nz-option *ngFor="let category of categories" [nzValue]="category.categoryId" [nzLabel]="category.name"></nz-option>
          </nz-select>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-divider nzDashed [nzText]="text">
      <ng-template #text><span class="add" (click)="addInput()"><i class="anticon anticon-plus"></i>Add</span></ng-template>
    </nz-divider>

    <app-course-offering-input *ngFor="let courseOffering of courseOfferings" [branches]="branches" [lecturers]="lecturers" [courseOffering]="courseOffering" (deleteEmit)="deleteInputById($event)" (branchEmit)="changeBranch($event)" (lecturerEmit)="changeLecturer($event)"></app-course-offering-input>

    <div style="height: 10px; width: 100%"></div>

    <app-ckeditor [ckeditorContent]="detailContent" (detailEmit)="receiveDetail($event)"></app-ckeditor>
  </form>
</div>
