<div>
  <form nz-form [formGroup]="branchForm">
    <nz-form-item>
      <nz-form-control style="width: 100%">
        <nz-input-group>
          <input type="text" nz-input formControlName="name" placeholder="请输入分部名称">
        </nz-input-group>
        <nz-form-explain *ngIf="branchForm.get('name').dirty && branchForm.get('name').errors">请输入分部名称</nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control style="width: 100%">
        <nz-input-group nzSearch [nzSuffix]="searchButton">
          <input autocomplete="off" type="text" #address nz-input formControlName="search" placeholder="搜索地址" id="address" (keypress)="onMapReady($event, address.value)">
        </nz-input-group>
        <ng-template #searchButton>
          <button (click)="searchAddress(address.value)" nz-button nzType="primary" nzSearch><i class="anticon anticon-search"></i></button>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <div style="margin-bottom: 10px">
      <div id="panel" class="panel" style="margin-bottom: 5px"></div>
      <ngx-amap style="width: 100%; height: 300px;" [center]="[branchForm.value.longitude, branchForm.value.latitude]" [zoom]="16" (hotspotClick)="clickPoint($event)"></ngx-amap>
    </div>

    <nz-form-item class="position" style="width: 100%">

      <nz-form-control style="width: 48%">
        <nz-input-group>
          <nz-input-number formControlName="longitude" placeholder="请输入分部经度"></nz-input-number>
        </nz-input-group>
        <nz-form-explain *ngIf="branchForm.get('longitude').dirty && branchForm.get('longitude').errors">请输入分部经度</nz-form-explain>
      </nz-form-control>
      <div class="empty-space"></div>
      <nz-form-control style="width: 48%">
        <nz-input-group>
          <nz-input-number formControlName="latitude" placeholder="请输入分部纬度"></nz-input-number>
        </nz-input-group>
        <nz-form-explain *ngIf="branchForm.get('latitude').dirty && branchForm.get('latitude').errors">请输入分部纬度</nz-form-explain>
      </nz-form-control>

    </nz-form-item>



    <nz-form-item style="width: 100%">
      <nz-form-control style="width: 100%">
        <nz-input-group>
          <input type="number" nz-input formControlName="telephone" placeholder="请输入分部电话">
        </nz-input-group>
        <nz-form-explain *ngIf="branchForm.get('telephone').dirty && branchForm.get('telephone').errors">请输入分部电话</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
