<div class="content">
  <nz-table
    #nzTable
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="searchData()"
    [nzData]="displayData">
    <thead>
    <tr>
      <th>
        退款编号
        <nz-dropdown nzTrigger="click" [nzClickHide]="false">
          <i class="anticon anticon-search ant-table-filter-icon" nz-dropdown></i>
          <div class="custom-filter-dropdown">
            <input type="text" nz-input placeholder="搜索订单编号" [(ngModel)]="searchValue">
            <button nz-button [nzType]="'primary'" (click)="search()">搜索</button>
          </div>
        </nz-dropdown>
      </th>
      <th>
        订单编号
      </th>
      <th>
        课程名称
      </th>
      <th>
        用户邮箱
      </th>
      <th>
        用户手机号
      </th>
      <th nzShowSort [(nzSort)]="sortMap.price" (nzSortChange)="sort('orderTime',$event)">
        退款时间
        <nz-dropdown nzTrigger="click" [nzClickHide]="false">
          <i class="anticon anticon-search ant-table-filter-icon" nz-dropdown></i>
          <div class="custom-filter-dropdown">
            <nz-range-picker [(ngModel)]="dateRange"></nz-range-picker>
            <button nz-button [nzType]="'primary'" (click)="print()">搜索</button>
          </div>
        </nz-dropdown>
      </th>
      <th nzShowSort [(nzSort)]="sortMap.price" (nzSortChange)="sort('price',$event)">
        订单金额
      </th>
      <th nzShowFilter [nzFilters]="filterType" (nzFilterChange)="filterTypeChange($event)">
        退款状态
      </th>
      <th>
        退款原因
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{data.refundId}}</td>
      <td>{{data.orderId}}</td>
      <td>{{data.courseName}}</td>
      <td>{{data.userEmail}}</td>
      <td>{{data.userMobile}}</td>
      <td>{{data.refundTime | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
      <td>{{data.coursePrice}}</td>
      <td>{{refundDisplayEnum[data.status]}}</td>
      <td>{{data.refundReason}}</td>
      <td><i *ngIf="data.status == 'REFUND_REQUESTED'" style="margin-left: 30px;margin-right: 30px; cursor: pointer" class="anticon anticon-check" (click)="checkRefund(data)"></i></td>
    </tr>
    </tbody>
  </nz-table>
</div>


