<nz-list class="clearfix" *ngIf="moments != null && moments.length > 0"
         [nzDataSource]="moments"
         [nzItemLayout]="'vertical'"
         [nzRenderItem]="item"
         [nzPagination]="pagination" >
  <ng-template #item let-item>
    <nz-list-item [nzContent]="content" [nzActions]="[likeAction, msgAction, editAction]">
      <ng-template #content>
        <div class="moment-content">
          <span *ngIf="!item.isEditing" class="text">{{item.content}}</span>
          <textarea nz-input *ngIf="item.isEditing" autofocus [(ngModel)]="item.content" [nzAutosize]="true" style="margin-bottom: 20px;"></textarea>
          <div class="clearfix upload-picture">
            <nz-upload
              nzAction="/api/v1/file"
              nzListType="picture-card"
              [(nzFileList)]="item.fileList"
              [nzShowButton]="item.fileList.length < 9"
              [nzRemove]="handleRemove"
              (nzChange)="statusChange($event, item)"
              [nzPreview]="handlePreview">
              <i class="anticon anticon-plus"></i>
              <div class="ant-upload-text">Upload</div>
            </nz-upload>
            <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
              <ng-template #modalContent>
                <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
              </ng-template>
            </nz-modal>
          </div>
        </div>
      </ng-template>
      <ng-template #likeAction><i class="anticon anticon-like-o" style="margin-right: 8px;"></i>{{item.likeNum}}</ng-template>
      <ng-template #msgAction><i class="anticon anticon-message" (click)="checkMsg(item)"></i></ng-template>
      <ng-template #editAction>
        <i *ngIf="!item.isEditing" class="anticon anticon-edit" (click)="edit(item)"></i>
        <i *ngIf="item.isEditing" class="anticon anticon-check" style="margin-right: 20px;" (click)="confirm(item)"></i>
        <i *ngIf="item.isEditing" class="anticon anticon-close" (click)="cancel(item)"></i>
      </ng-template>
      <nz-list-item-meta
        [nzDescription]="nzTime">
        <ng-template #nzTime><span style="margin-left: 20px; margin-top: 10px; display: block;">{{item.time | date: 'yyyy 年 M 月 d 日 HH:mm:ss'}}</span></ng-template>
      </nz-list-item-meta>
    </nz-list-item>
  </ng-template>
  <ng-template #pagination>
    <nz-pagination [(nzPageIndex)]="pageIndex" [nzTotal]="total" [nzPageSize]="6" (nzPageIndexChange)="newPage()"></nz-pagination>
  </ng-template>
</nz-list>
