<div class="content">
  <div class="point-control">
    <nz-switch [(ngModel)]="switchValue" [nzCheckedChildren]="'开'" [nzUnCheckedChildren]="'关'" (click)="clickSwitch()"></nz-switch>
    <div class="empty-space"></div>
    <div class="checkin-control inline-flex" style="margin-right: 20px;">
      <span>每日签到积分：</span>
      <nz-input-number [(ngModel)]="checkinPoints" [nzMin]="1" [nzStep]="1" [nzDisabled]="isDisabled"></nz-input-number>
    </div>
    <div class="points-transition inline-flex" style="margin-right: 20px;">
      <span>积分汇率：</span>
      <nz-input-number [(ngModel)]="pointsPerYuan" [nzMin]="1" [nzMax]="100" [nzStep]="1" [nzDisabled]="isDisabled"></nz-input-number>
    </div>
    <div class="confirm-button">
      <button nz-button (click)="updateStrategy()" [nzType]="'primary'">确认</button>
    </div>
  </div>
</div>
