<nz-layout>
  <ul id="background" class="background">
    <li style="background-image: url('../../assets/background-image/login-page-background.jpg')"></li>
    <li style="background-color: rgba(55, 55, 55, 0.35)"></li>
  </ul>
  <nz-header class="login-header">
    <span>Zooc 后台管理系统</span>
  </nz-header>
  <nz-content>
    <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
      <nz-card style="width: 400px;" [nzBordered]="false" nzTitle="登录">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-user">
              <input type="text" nz-input formControlName="id" placeholder="管理员编号">
            </nz-input-group>
            <nz-form-explain *ngIf="loginForm.get('id').dirty && loginForm.get('id').errors">请输入管理员编号。</nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-lock">
              <input type="password" nz-input formControlName="password" placeholder="密码">
            </nz-input-group>
            <nz-form-explain *ngIf="loginForm.get('password').dirty && loginForm.get('password').errors">请输入密码。</nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <button nz-button [disabled]="!loginForm.valid" class="login-form-button" [nzType]="'primary'">登录</button>
          </nz-form-control>
        </nz-form-item>
      </nz-card>
    </form>
  </nz-content>
</nz-layout>
