<div class="content">
  <button nz-button (click)="addNewData()" class="editable-add-btn">添加新课程</button>
  <nz-table
    #nzTable
    nzBordered
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="searchData()"
    [nzData]="displayData">
    <thead>
      <tr>
        <th>
          课程名称
          <nz-dropdown nzTrigger="click" [nzClickHide]="false">
            <i class="anticon anticon-search ant-table-filter-icon" nz-dropdown></i>
            <div class="custom-filter-dropdown">
              <input type="text" nz-input placeholder="搜索名称" [(ngModel)]="searchValue">
              <button nz-button [nzType]="'primary'" (click)="search()">搜索</button>
            </div>
          </nz-dropdown>
        </th>
        <th>
          课程图片
        </th>
        <th nzShowSort [(nzSort)]="sortMap.price" (nzSortChange)="sort('price',$event)">
          课程价钱
        </th>
        <th nzShowFilter [nzFilters]="filterType" (nzFilterChange)="filterTypeChange($event)">
          课程类别
        </th>
        <th>
          发布时间
        </th>
        <th>
          课程状态
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{data.name}}</td>
        <td><img style="width: 100px; height: 100px" [src]="data.imgUrl"></td>
        <td>￥{{data.price}}.00</td>
        <td>{{data.categoryName}}</td>
        <td>{{data.releaseTime | date: 'yyyy-MM-dd'}}</td>
        <td>{{data.statusDesc}}</td>
        <td>
          <i style="margin-left: 5px;margin-right: 30px; cursor: pointer" class="anticon anticon-edit" (click)="edit(data)"></i>
          <nz-popconfirm [nzTitle]="'确认删除？'" (nzOnConfirm)="deleteRow(data.branchId)">
            <i style="cursor: pointer;" class="anticon anticon-close" nz-popconfirm></i>
          </nz-popconfirm>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
