
<div class="content">
  <nz-table
    #nzTable
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="searchData()"
    [nzData]="displayData">
    <thead>
    <tr>
      <th>
        预约订单编号
        <nz-dropdown nzTrigger="hover" [nzClickHide]="false">
          <i class="anticon anticon-search ant-table-filter-icon" nz-dropdown></i>
          <div class="custom-filter-dropdown">
            <input type="text" nz-input placeholder="搜索订单编号" [(ngModel)]="reservationIdValue">
            <button nz-button [nzType]="'primary'" (click)="searchReservationId()">搜索</button>
          </div>
        </nz-dropdown>
      </th>
      <th>
        预约课程名称
        <nz-dropdown nzTrigger="hover" [nzClickHide]="false">
          <i class="anticon anticon-search ant-table-filter-icon" nz-dropdown></i>
          <div class="custom-filter-dropdown">
            <input type="text" nz-input placeholder="搜索课程名称" [(ngModel)]="courseNameValue">
            <button nz-button [nzType]="'primary'" (click)="searchCourseByName()">搜索</button>
          </div>
        </nz-dropdown>
      </th>
      <th>
        用户邮箱
      </th>
      <th>
        用户手机号
      </th>
      <th nzShowFilter [nzFilters]="filterStatus" (nzFilterChange)="filterStatusChange($event)" [nzFilterMultiple]="false">
        订单状态
      </th>
      <th>
        预约时间
        <!--<nz-dropdown nzTrigger="click" [nzClickHide]="false">-->
          <!--<i class="anticon anticon-search ant-table-filter-icon" nz-dropdown></i>-->
          <!--<div class="custom-filter-dropdown">-->
            <!--<nz-range-picker [(ngModel)]="dateRange"></nz-range-picker>-->
            <!--<button nz-button [nzType]="'primary'" (click)="print()">搜索</button>-->
          <!--</div>-->
        <!--</nz-dropdown>-->
      </th>
      <th>
        留言
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{data.reservationId}}</td>
      <td>{{data.trialName}}</td>
      <td>{{data.userEmail}}</td>
      <td>{{data.userMobile}}</td>
      <td>
        <span>{{reservationDisplayEnum[data.status]}}</span>
      </td>
      <td>{{data.time | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
      <td>{{data.message}}</td>
      <td><i *ngIf="data.status == 'PENDING'" style="margin-left: 30px;margin-right: 30px; cursor: pointer" class="anticon anticon-check" (click)="checkReservation(data)"></i></td>
    </tr>
    </tbody>
  </nz-table>
</div>

