<div [ngStyle]="{width: '100%', background: '#fff', 'margin-top': '30px'}">
  <nz-calendar nzCard (nzValueChange)="onValueChange($event)"></nz-calendar>
</div>
<div style="margin-top: 28px;">
  <div nz-row [nzGutter]="32" [nzType]="'flex'" [nzJustify]="'space-between'">
    <div nz-col [nzSpan]="8">
      <nz-card [nzBordered]="false">
        <h2>{{date | date: 'yyyy-MM-dd'}}</h2>
        <div class="data">
          <div class="item">
            <p>课程总数</p>
            <h1>152</h1>
          </div>
          <div class="item">
            <p>上月课程总数</p>
            <h1>150</h1>
          </div>
          <div class="item">
            <p>增加课程</p>
            <h1>2</h1>
          </div>
        </div>
      </nz-card>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-card [nzBordered]="false">
        <h2>{{date | date: 'yyyy-MM-dd'}}</h2>
        <div class="data">
          <div class="item">
            <p>教师总数</p>
            <h1>100</h1>
          </div>
          <div class="item">
            <p>上月教师总数</p>
            <h1>88</h1>
          </div>
          <div class="item">
            <p>增加教师</p>
            <h1>12</h1>
          </div>
        </div>
      </nz-card>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-card [nzBordered]="false">
        <h2>{{date | date: 'yyyy-MM-dd'}}</h2>
        <div class="data">
          <div class="item">
            <p>订单总数</p>
            <h1>15002</h1>
          </div>
          <div class="item">
            <p>上月订单总数</p>
            <h1>13000</h1>
          </div>
          <div class="item">
            <p>增加订单</p>
            <h1>2002</h1>
          </div>
        </div>
      </nz-card>
    </div>
  </div>



</div>
