<!-- NG-ZORRO -->
<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo">

    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu *ngIf="admin.type.toString() === 'ENTERPRISE'">
        <span title><i class="anticon anticon-shop"></i><span class="nav-text">企业管理</span></span>
        <ul>
          <li nz-menu-item (click)="navToNewPage('/home/enterprise-basic-info')">企业基本信息管理</li>
          <li nz-menu-item (click)="navToNewPage('/home/enterprise-branch-info')">企业分部信息管理</li>
          <li nz-menu-item (click)="navToNewPage('/home/enterprise-lecturer-info')">教师信息管理</li>
        </ul>
      </li>

      <li nz-submenu *ngIf="admin.type.toString() === 'SYSTEM'">
        <span title><i class="anticon anticon-shop"></i><span class="nav-text">企业与课程管理</span></span>
        <ul>
          <li nz-menu-item (click)="navToNewPage('/home/enterprise-basic-info')">企业列表</li>
          <li nz-menu-item (click)="navToNewPage('/home/enterprise-basic-info')">课程类别</li>
        </ul>
      </li>

      <li nz-submenu *ngIf="admin.type.toString() === 'ENTERPRISE'">
        <span title><i class="anticon anticon-book"></i><span class="nav-text">课程管理</span></span>
        <ul>
          <li nz-menu-item (click)="navToNewPage('/home/course')">精品课程管理</li>
          <li nz-menu-item (click)="navToNewPage('/home/free-trial')">预约课程管理</li>
        </ul>
      </li>
      <li nz-menu-item *ngIf="admin.type.toString() === 'SYSTEM'">
        <span><i class="anticon anticon-user"></i><span class="nav-text">用户管理</span></span>
      </li>
      <li nz-submenu *ngIf="admin.type.toString() === 'ENTERPRISE'">
        <span title><i class="anticon anticon-shopping-cart"></i><span class="nav-text">订单管理</span></span>
        <ul>
          <li nz-menu-item (click)="navToNewPage('/home/order')">订单管理</li>
          <li nz-menu-item (click)="navToNewPage('/home/reservation')">预约管理</li>
          <li nz-menu-item (click)="navToNewPage('/home/refund')">退款处理</li>
        </ul>
      </li>
      <li nz-menu-item *ngIf="admin.type.toString() === 'ENTERPRISE'" (click)="navToNewPage('/home/moment')">
        <span><i class="anticon anticon-wechat"></i><span class="nav-text">朋友圈管理</span></span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #ffffff; padding: 0;">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
      <div class="empty-space"></div>
      <span class="header-title" style="color: rgba(0, 0, 0, .8); font-size: 18px; cursor: pointer;">Zooc 后台管理系统</span>
      <div class="empty-space"></div>
      <nz-avatar nzSize="large" nzIcon="anticon anticon-user" nz-popover [nzContent]="userList"></nz-avatar>
    </nz-header>
    <nz-content style="margin: 0 28px;">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer style="text-align: center;">Zooc © 2018 ZZZZ</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i class="anticon anticon-up"></i>
</ng-template>
<ng-template #userList>
  <ul style="width: 100px" nz-menu [nzMode]="'inline'">
    <li nz-menu-item (click)="navToNewPage('/home')">返回首页</li>
    <li nz-menu-item>修改信息</li>
    <li nz-menu-item>安全退出</li>
  </ul>
</ng-template>
