nz-layout {
  height: 100%;
}
:host ::ng-deep .trigger{
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

:host ::ng-deep .trigger:hover, .ant-avatar:hover {
  color: #1890ff;
}

:host ::ng-deep .logo {
  height: 32px;
  background: rgba(255, 255, 255, .2);
  margin: 16px;
}
nz-header {
  display: flex;
  flex-direction: row;
}
nz-avatar {
  margin-right: 80px;
  margin-top: 10px;
  cursor: pointer;
}
.empty-space {
  flex-grow: 1;
}
.header-title:active {
  display: none;
}
